<!-- Header -->
<header class="bg-black shadow">
    <div class="container mx-auto px-4 py-6 flex justify-between items-center">
      <h1 [routerLink]="['/home']" class="text-4xl font-semibold text-red-600"><i>HEARTLESS</i></h1>
      <nav>
        <ul class="flex space-x-4">
            <li><a [routerLink]="['/categoria', 'Shoes']" class="text-2xl font-semibold text-white hover:text-red-600">Shoes</a></li>
            <li><a [routerLink]="['/categoria', 'Shirts']"  class="text-2xl font-semibold text-white hover:text-red-600">Shirts</a></li>
            <li><a [routerLink]="['/categoria', 'Jeans']"  class="text-2xl font-semibold text-white hover:text-red-600">Jeans</a></li>
            <li><a [routerLink]="['/categoria', 'Accessories']"  class="text-2xl font-semibold text-white hover:text-red-600">Accessories</a></li>
        </ul>
        <router-outlet></router-outlet>
      </nav>
      <div>
          <span id="username" class="mr-4">Usuario</span>
          <button id="login-btn" class="bg-red-600 hover:bg-red-800 text-white font-bold py-2 px-4 rounded">
              Login
          </button>
          <button [routerLink]="['/carrito']" class="next-button" style="padding: 10px;"><img src='https://cdn-icons-png.flaticon.com/512/6136/6136434.png' alt="Siguiente" width="30px" height="30px"/></button>

      </div>
    </div>
</header>