<app-header></app-header>
<div class="min-h-screen bg-white text-black py-8">
    <div class="container mx-auto grid grid-cols-1 lg:grid-cols-2 gap-8">
      
      <!-- Imagen del Producto -->
      <div class="space-y-4">
        <img [src]="producto.imagenPrincipal" alt="{{producto.nombre}}" class="w-full h-96 object-cover rounded-md">
        <div class="flex space-x-2">
          <img *ngFor="let imagen of producto.imagenes" [src]="imagen" alt="{{producto.nombre}}" class="w-20 h-20 object-cover rounded-md cursor-pointer hover:opacity-75" (click)="cambiarImagen(imagen)">
        </div>
      </div>
  
      <!-- Detalles del Producto -->
      <div>
        <h1 class="text-3xl font-bold mb-4">{{ producto.nombre }}</h1>
        <p class="text-lg mb-4 text-red-500 font-semibold">$ {{ producto.precio}}</p>
        <p class="text-gray-400 mb-6">{{ producto.descripcion }}</p>
  
        <!-- Selección de Tallas -->
        <div class="mb-4">
          <h2 class="text-lg font-semibold mb-2">Selecciona una talla:</h2>
          <div class="flex space-x-4">
            <button *ngFor="let talla of producto.tallas" (click)="seleccionarTalla(talla)" [ngClass]="{'bg-red-500 text-white': talla === tallaSeleccionada, 'bg-gray-700': talla !== tallaSeleccionada}" class="px-4 py-2 rounded-md">
              {{ talla }}
            </button>
          </div>
        </div>
  
        <!-- Botón de Agregar al Carrito -->
        <button class="mt-4 bg-red-500 hover:bg-red-600 text-white px-6 py-2 rounded-lg">Agregar al carrito</button>
      </div>
    </div>
  </div>
<app-footer></app-footer>